<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.0.0" targetFramework="net472" />
  <package id="Jobbr.ComponentModel.Execution" version="1.0.0" targetFramework="net472" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.1.0-unstable.10" targetFramework="net472" />
  <package id="Jobbr.ComponentModel.Management" version="1.1.0-unstable.8" targetFramework="net472" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.0" targetFramework="net472" />
  <package id="Jobbr.Execution.Forked" version="1.0.1" targetFramework="net472" />
  <package id="Jobbr.Server" version="1.1.0-unstable.10" targetFramework="net472" />
  <package id="Jobbr.Storage.MsSql" version="2.0.0-rc.13" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net472" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.OrmLite" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.1.0" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net472" />
</packages>